<table class="calcTable">
  <tbody>

    {{#each groundFloor.fields as |field|}}
      <tr>
        <td>{{field.label}}: </td>
        <td>{{field.value}}</td>
      </tr>
    {{/each}}
    
  </tbody>
</table>
