<h2>Room Inputs</h2>

<table>
  {{#each rooms as |room|}}
    <tr>
      <td>
        <b>{{room.name}}</b>
      </td>

      {{#each room.fields as |field|}}
      <td>
        {{edit-field editField=field}}
      </td>
      {{/each}}
    </tr>
  {{/each}}
</table>

<button {{action 'addRoom'}}>Add room</button>

{{yield}}
