input {
  height: 27px;
  width: 350px;
  border-radius: 3px;
}

hr {
  height: 1px;
  margin-top: 50px;
  margin-bottom: 30px;
}

table td {
  min-width: 175px;
  padding: 5px 15px 5px 15px;
}

button {
  margin-top: 30px;
}

[certificate-table] {
  width: 80%;
}

[warning-text] {
  color: #FF0000;
}