input {
  height: 15px;
  width: 150px;
  border-radius: 3px;
}

hr {
  height: 1px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

table td {
  min-width: 125px;
  padding: 5px 15px 5px 15px;
}

button {
  margin-top: 10px;
  width: 150px;
}

.certificateTable {
  width: 80%;
}

.warning-text {
  color: #FF0000;
}

.calcTable {
  font-size: 11px;
}
